version: '3.8'

services:
    mysql:
        image: mysql:8.0
        container_name: mysql
        restart: always
        env_file:
            - .env
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USER}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        volumes:
            - mysql-data:/var/lib/mysql
        ports:
            - '${DB_PORT}:3306'

    adminer:
        image: adminer
        restart: always
        ports:
            - '8081:8080'

    api:
        build:
            context: ./
            dockerfile: docker/Dockerfile
        container_name: api
        depends_on:
            - mysql
        env_file:
            - .env
        environment:
            DB_HOST: ${DB_HOST}
            DB_USER: ${DB_USER}
            DB_PASSWORD: ${DB_PASSWORD}
            DB_NAME: ${DB_DATABASE}
            PORT: ${APP_PORT}
        ports:
            - '${APP_PORT}:${APP_PORT}'
        volumes:
            - public-data:/app/public

volumes:
    mysql-data:
    public-data:
